# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pt
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.venv/
env/
conda_env/
*.egg-info/

# VSCode settings
.vscode/

# macOS system files
.DS_Store